<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rejestracja wizyty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{fragments/navbar :: navbarLoggedMed}"></nav>

<!-- Sekcja Hero -->
<section class="bg-primary text-white text-center py-5">
    <div class="container">
        <h1>Rejestracja wizyty</h1>
        <h2>Wyszukaj pacjenta</h2>
        <div class="form-group">
            <form action="#" th:action="@{/staffView/patients/search}" th:method="get">
                Imię: <input type="text" name="name" th:value="${name}">
                Nazwisko: <input type="text" name="surname" th:value="${surname}">
                PESEL: <input type="text" name="pesel" th:value="${pesel}">
                Email: <input type="text" name="email" th:value="${email}">
                Telefon: <input type="text" name="phone" th:value="${phone}">
                <input type="submit" class="btn btn-light" value="Szukaj">
            </form>
        </div>
    </div>
    <div class="container mt-4">
        <h2>Wszyscy pacjenci: </h2>
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Pesel</th>
                <th>Email</th>
                <th>Telefon</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.patientId}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.surname}"></td>
                <td th:text="${patient.pesel}"></td>
                <td th:text="${patient.email}"></td>
                <td th:text="${patient.phone}"></td>
                <td>
                    <!-- przycisk szczegóły -->
                    <form th:action="@{/staffView/patients/show/{patientId}(patientId=${patient.patientId})}"
                          method="GET">
                        <button type="submit" class="btn btn-info">Szczegóły</button>
                    </form>
                    </form>
                </td>
                <td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
