<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Szczegóły pracownika</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>Szczegóły pracownika</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Nr tel</th>
        </tr>
        <tr>
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.surname}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Edytuj
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Aktualizacja danych pracownika</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/employee/update/{employeeId}(employeeId=${employee.employeeId})}" th:object="${employee}" method="post">
                                    <input type="hidden" name="_method" value="put"/>
                                    <div class="form-group">
                                        Imię: <input type="text" class="form-control" th:field="*{name}" name="name"><br>
                                        Nazwisko: <input type="text" class="form-control" th:field="*{surname}" name="surname"><br>
                                        Email: <input type="email" class="form-control" th:field="*{email}" name="email"><br>
                                        Nr Tel: <input type="text" class="form-control" th:field="*{phone}" name="phone"><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                                        <button type="submit" class="btn btn-primary">Zaktualizuj</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <h3>Grafik pracownika</h3>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scheduleModal">
        Edytuj grafik
    </button>
    <!-- Modal do edytowania grafiku -->
    <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="scheduleModalLabel">Dodaj grafik</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/employee/scheduleadd}" method="post">
                        <input type="hidden" name="employeeId" th:value="${employee.employeeId}"/>
                        <div class="form-group">
                            <label for="workDate">Wybierz datę:</label>
                            <input type="date" class="form-control" id="workDate" name="workDate" required>
                        </div>
                        <div class="form-group">
                            <label for="shift">Wybierz zmianę:</label>
                            <select class="form-control" id="shift" name="shiftId" required>
                                <option value="" disabled selected>Wybierz zmianę</option>
                                <option th:each="shift : ${shifts}"
                                        th:value="${shift.shiftId}"
                                        th:text="${shift.name} + ' (' + ${shift.startTime} + ' - ' + ${shift.endTime} + ')'">
                                </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            <button type="submit" class="btn btn-primary">Dodaj grafik</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Data</th>
            <th>Zmiana</th>
            <th>Godziny pracy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules}">
            <td th:text="${schedule.workDate}"></td>
            <td th:text="${schedule.shiftName}"></td>
            <td th:text="${schedule.startTime} + ' - ' + ${schedule.endTime}"></td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/employee}">Pokaż wszystkich pracowników</a>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
