<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personel</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">

    <p>Wyszukaj po: </p>
    <div class="form-group">
        <form action="#" th:action="@{/reservation/search}" th:method="get">
            Imię pacjenta: <input type="text" name="patientName" th:value="${patientName}">
            Naziwsko pacjenta: <input type="text" name="patientSurname" th:value="${patientSurname}">
            Pesel pacjenta: <input type="text" name="patientPesel" th:value="${patientPesel}"><br>
            Imie lekarza: <input type="text" name="employeeName" th:value="${employeeName}">
            Nazwisko lekarza: <input type="text" name="employeeSurname" th:value="${employeeSurname}">
            Id lekarza: <input type="text" name="employeeId" th:value="${employeeId}"><br>
            Id wizyty: <input type="text" name="reservationId" th:value="${reservationId}"><br>
            <input type="submit" class="btn btn-primary" value="Szukaj">
        </form>
    </div>

    <h2 class="mb-4">Złożone rezerwacje</h2>
    <table class="table table-striped table-hover">
        <thead class="table-dark">

        <tr>
            <th>ID</th>
            <th>Lekarz</th>
            <th>Pacjent</th>
            <th>Data</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.reservationId}"></td>
            <td th:text="${reservation.employee.surname} + ' ' + ${reservation.employee.name}"></td>
            <td th:text="${reservation.patient.surname} + ' ' + ${reservation.patient.name}"></td>
            <td th:text="${reservation.dateAndTime}"></td>

            <td>
                <!-- przycisk usuń -->
                <form th:action="@{/reservation/delete/{reservationId}(reservationId=${reservation.reservationId})}"
                      th:method="DELETE">
                    <button type="submit" class="btn btn-warning">Usuń</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="pagination">
        <a th:href="@{/reservation(page=${currentPage - 1})}"
           th:if="${currentPage > 0}">Poprzednia</a>
        <span>Strona <span th:text="${currentPage + 1}"></span> z <span th:text="${totalPages}"></span></span>
        <a th:href="@{/reservation(page=${currentPage + 1})}"
           th:if="${currentPage + 1 < totalPages}">Następna</a>
    </div>
    <a href="/" class="btn btn-primary mt-3">Strona główna</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
