<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Szczegóły pracownika</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Dostępne terminy dla lekarza <span th:text="${employee.name} + ' ' + ${employee.surname}"></span></h2>
    <h2>pacjent id <span th:text="${patientId}"></span></h2>
    <form th:action="@{/reservation/add}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Data</th>
                <th>Zmiana</th>
                <th>Godziny pracy</th>
                <th>Wybierz godzinę</th>
                <th>Akcja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <form th:action="@{/reservation/add}" method="post">
                    <td th:text="${schedule.workDate}"></td>
                    <td th:text="${schedule.shiftName}"></td>
                    <td th:text="${schedule.startTime} + ' - ' + ${schedule.endTime}"></td>
                    <td>
                        <select class="form-control" name="selectedHour">
                            <option th:each="hour : ${schedule.availableHours}"
                                    th:value="${hour}"
                                    th:text="${hour}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <!-- Ukryte pola formularza -->
                        <input type="hidden" name="employeeId" th:value="${employee.employeeId}" />
                        <input type="hidden" name="patientId" th:value="${patientId}" />
                        <input type="hidden" name="workDate" th:value="${schedule.workDate}" />

                        <!-- Przycisk do przesłania formularza -->
                        <button type="submit" class="btn btn-primary">Umów</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

    </form>

    <a th:href="@{/reservation}" class="btn btn-secondary">Powrót</a> <!-- Opcjonalny przycisk powrotu -->
</div>
</body>
</html>
